<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.AiDialectMapper">

    <select id="selectByTaskType" resultType="io.github.zzih.rudder.dao.entity.AiDialect">
        select * from t_r_ai_dialect where task_type = #{taskType}
    </select>

    <select id="selectAllOrdered" resultType="io.github.zzih.rudder.dao.entity.AiDialect">
        select * from t_r_ai_dialect order by task_type asc
    </select>

    <delete id="deleteByTaskType">
        delete from t_r_ai_dialect where task_type = #{taskType}
    </delete>

</mapper>
