<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.AiToolConfigMapper">

    <select id="selectByToolName" resultType="io.github.zzih.rudder.dao.entity.AiToolConfig">
        select * from t_r_ai_tool_config where tool_name = #{toolName}
    </select>

    <select id="selectAllOrdered" resultType="io.github.zzih.rudder.dao.entity.AiToolConfig">
        select * from t_r_ai_tool_config order by tool_name asc
    </select>

    <select id="selectPageOrdered" resultType="io.github.zzih.rudder.dao.entity.AiToolConfig">
        select * from t_r_ai_tool_config order by tool_name asc
    </select>

</mapper>
