<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.DatasourcePermissionMapper">

    <sql id="baseSql">
        id, datasource_id, workspace_id,
        created_by, created_at, updated_by, updated_at
    </sql>

    <select id="queryByWorkspaceId" resultType="io.github.zzih.rudder.dao.entity.DatasourcePermission">
        select <include refid="baseSql"/>
        from t_r_datasource_permission
        where workspace_id = #{workspaceId}
    </select>

    <select id="queryByDatasourceId" resultType="io.github.zzih.rudder.dao.entity.DatasourcePermission">
        select <include refid="baseSql"/>
        from t_r_datasource_permission
        where datasource_id = #{datasourceId}
    </select>

    <select id="countByDatasourceIdAndWorkspaceId" resultType="long">
        select count(*)
        from t_r_datasource_permission
        where datasource_id = #{datasourceId}
          and workspace_id = #{workspaceId}
    </select>

    <delete id="deleteByDatasourceIdAndWorkspaceId">
        delete from t_r_datasource_permission
        where datasource_id = #{datasourceId}
          and workspace_id = #{workspaceId}
    </delete>

</mapper>
