<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.DataPermRolePermissionMapper">

    <sql id="baseSql">
        id, role_id, scope_code,
        catalog_name, database_name, table_name, column_name,
        accesses, created_at
    </sql>

    <sql id="detailSql">
        p.id, p.role_id, p.scope_code,
        p.catalog_name, p.database_name, p.table_name, p.column_name,
        p.accesses, p.created_at,
        sc.name as scope_name,
        sc.plugin_type as plugin_type,
        sc.ranger_service_name as ranger_service_name,
        sc.enabled as scope_enabled
    </sql>

    <select id="queryByRoleId" resultType="io.github.zzih.rudder.dao.entity.view.DataPermRolePermissionDetailView">
        select <include refid="detailSql"/>
        from t_r_data_perm_role_permission p
        left join t_r_data_perm_scope sc on sc.code = p.scope_code
        where p.role_id = #{roleId}
    </select>

    <delete id="deleteByRoleId">
        delete from t_r_data_perm_role_permission
        where role_id = #{roleId}
    </delete>

    <select id="countByScopeCode" resultType="long">
        select count(*)
        from t_r_data_perm_role_permission
        where scope_code = #{scopeCode}
    </select>

    <select id="selectPageByRole" resultType="io.github.zzih.rudder.dao.entity.view.DataPermRolePermissionDetailView">
        select <include refid="detailSql"/>
        from t_r_data_perm_role_permission p
        left join t_r_data_perm_scope sc on sc.code = p.scope_code
        where p.role_id = #{roleId}
        <if test="keyword != null and keyword != ''">
            and (p.catalog_name like concat('%', #{keyword}, '%')
              or p.database_name like concat('%', #{keyword}, '%')
              or p.table_name like concat('%', #{keyword}, '%')
              or p.column_name like concat('%', #{keyword}, '%'))
        </if>
        <if test="scopeCodes != null and scopeCodes.size() > 0">
            and p.scope_code in
            <foreach collection="scopeCodes" item="code" open="(" separator="," close=")">
                #{code}
            </foreach>
        </if>
        order by p.id
    </select>

    <select id="selectByIdAndRole" resultType="io.github.zzih.rudder.dao.entity.DataPermRolePermission">
        select <include refid="baseSql"/>
        from t_r_data_perm_role_permission
        where id = #{id}
          and role_id = #{roleId}
    </select>

    <update id="updateByIdAndRole">
        update t_r_data_perm_role_permission
        set scope_code = #{entity.scopeCode},
            catalog_name        = #{entity.catalogName},
            database_name       = #{entity.databaseName},
            table_name          = #{entity.tableName},
            column_name         = #{entity.columnName},
            accesses            = #{entity.accesses}
        where id = #{entity.id}
          and role_id = #{roleId}
    </update>

    <delete id="deleteByIdAndRole">
        delete from t_r_data_perm_role_permission
        where id = #{id}
          and role_id = #{roleId}
    </delete>

</mapper>
