<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.NotificationConfigMapper">

    <sql id="baseSql">
        id, workspace_id, enabled, channel, channel_params,
        subscribed_events,
        created_by, created_at, updated_by, updated_at
    </sql>

    <select id="selectAllOrdered" resultType="io.github.zzih.rudder.dao.entity.NotificationConfig">
        select <include refid="baseSql"/>
        from t_r_notification_config
        order by id asc
    </select>

    <select id="queryByWorkspaceId" resultType="io.github.zzih.rudder.dao.entity.NotificationConfig">
        select <include refid="baseSql"/>
        from t_r_notification_config
        where workspace_id = #{workspaceId}
        limit 1
    </select>

    <delete id="deleteByWorkspaceId">
        delete from t_r_notification_config where workspace_id = #{workspaceId}
    </delete>

    <select id="queryPlatformConfig" resultType="io.github.zzih.rudder.dao.entity.NotificationConfig">
        select <include refid="baseSql"/>
        from t_r_notification_config
        where workspace_id is null
        limit 1
    </select>

</mapper>
