<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.zzih.rudder.dao.mapper.WorkflowScheduleMapper">

    <sql id="baseSql">
        id, workflow_definition_code, cron_expression, start_time, end_time, timezone, status,
        created_by, created_at, updated_by, updated_at
    </sql>

    <select id="queryByWorkflowDefinitionCode" resultType="io.github.zzih.rudder.dao.entity.WorkflowSchedule">
        select <include refid="baseSql"/>
        from t_r_workflow_schedule
        where workflow_definition_code = #{workflowDefinitionCode}
        limit 1
    </select>

</mapper>
